
{{ set(this, 'title', t(module('FORUM'), 'Edit topic')) }}

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                {{ FORUM_TOPIC_FORM|raw }}
            </div>
        </div>
    </div>
</div>
