
<div class="row">
    <div class="col-xs-12">
        <div class="panel">
            <div class="panel-body">
                <h1>{{ name }}</h1>

                {% if message is not empty %}
                    <div class="alert alert-danger">
                        {{ message|nl2br }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
