
{% if app.user.identity.isAdmin or app.user.can('NEWS_ACCESS') %}
    {% if news is not empty %}
        {% for newsRecord in news %}
        <div class="row{% if loop.first %} margin-top-10{% endif %}">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{ render('news/_block', {'newsRecord' : newsRecord})|raw }}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
    <div class="row margin-top-10">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    {{ t(module('NEWS'), 'No news') }}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endif %}
